<html>
    <head>

    </head>
    <body style="background-color: darkgreen;">
        <h1 align="center" style="color: cadetblue;">Registartion Form</h1>
        <div style="background-color: blueviolet;height: 70%; width:50%;margin: auto;margin-bottom: 150px;">
        <form method="post" action="{% url 'reg' %}">
            {% csrf_token %}
            <table align="center" border="1"  style="border: brown;padding: 40px; color:white ">
            <tr>
                <th><label for="Name">Name</label></th>
                <td><input type="text" name="name" ></td>
            </tr>
           
            <tr>
                <th><label for="Gender">Gender</label></th>
                <td><input type="radio" name="gender" value="male" checked>Male
                    <input type="radio" name="gender" value="female">Female
                </td>
                
            </tr>
            
            
            <tr>
                <th><label for="Email">Email</label></th>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <th><label for="Phone No">Phone No</label></th>
                <td><input type="number" name="phno"></td>
            </tr>
            <tr>
                <th><label for="Address">Address</label></th>
                <td><textarea name="address"></textarea></td>
            </tr>
            
            <tr>
                <th><label for="Location">Location</label></th>
                <td><select name="loc">
                    <option value="0">--select--</option>
                    <option value="1">Ktym</option>
                    <option value="2">Ekm</option>
                </select></td>
            </tr>
            <tr>
                <th><label for="username">username</label></th>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <th><label for="Password">Password</label></th>
                <td><input type="password" name="pwd"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" name="submit" value="Register"></td>
            </tr>
            </table>
        </form>
        </div>  
        
        <footer style="background-color: cornflowerblue;padding:3px;text-align: center;color: white;">
<p>Copyright 2021. All Rights Reserved</p>
        </footer>
    </body>
</html>