{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cart/css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <a href="{% url 'userhome' %}">Home</a>
      <a href="{% url 'listview' %}">Product</a>

      <a href="{% url 'viewcart' %}">Cart</a>
      <a href="{% url 'vieworder' %}">View Order</a>



      </nav>
      
      <form method="post" action="{% url 'addcart' %}">
{% csrf_token %}
    <div style="display: flex;justify-content:space-between;margin-top: 50px ;margin-bottom: 50px;">

    <div class="card" style="height: 10%;width:25%;">
        <img src="/media/{{data.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          
          <h5 class="card-title">{{data.pname}}</h5>
          <p class="card-text">Rate: {{data.rate}}</p>
          Qty: <input type="text" name="qty"><br>
          Total:<input type="text" name="total"><br>
          <input type="submit">
        </div>

      </div>
    </form>
     
    

</body>
</html>